/** {
    font-size: 12px;
    font-family: 'Times New Roman';
}*/

.hidden-div {
    visibility: hidden;
}

.table {
    border-top: 1px solid black;
}

.table {
    border-collapse: collapse;
}

td, th {
    padding: 4px 6px;
    border-bottom: 0px;
}

th.description,
th.price,
th.quantity{
    border-bottom: 1px solid #e1e1e1;
}

td.description,
th.description {
    width: 200px;
    max-width: 200px;
    font-size: 8px;
    font-family: 'Times New Roman';
}

td.quantity,
th.quantity {
    width: 80px;
    max-width: 80px;
    font-size: 8px;
    font-family: 'Times New Roman';
}

td.price,
th.price {
    width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-size: 8px;
    font-family: 'Times New Roman';
}

td.more,
th.more {
    width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-size: 10px;
    font-family: 'Times New Roman';
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 300px;
    max-width: 300px;
    font-size: 12px;
    font-family: 'Times New Roman';
}

img {
    max-width: inherit;
    width: inherit;
}

.total {
    column-width: 100px;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}
